@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Kanit:wght@500&family=Lato&family=Open+Sans&display=swap');
@font-face {
    font-family: 'Rocker' ;
    src: url(./fonts/BlackRocker\ .ttf);
    font-weight: normal;
    font-style: normal;
    /* opentype (otf) truetype (tff) */
}
@font-face {
    font-family: 'Dope';
    src: url(./fonts/Dopestyle.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Hiro';
    src: url(./fonts/HIROMISAKE.ttf);
    font-weight: normal;
    font-style: normal;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    /* background: url(./img/fundo.jpg); */
    background-color: #fff;
    background-size: cover;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
    
}
/* botao de pesquisa */
.search-box{
    background: #353b48;
    height: 20px;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

::-webkit-input-placeholder{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #aeaeae;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 12px;
    transition: 0.4s;
    line-height: 40px;
    transition: 0.6s;
    width: 0px;
}

.search-btn{
    color: red;
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #353b48;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.6s;
}

.loupe-blue{
    display: none;
}

.search-box:hover > .search-txt{
    width: 240px;
    padding: 0 6px;

}

.search-box:hover > .search-btn{
    background: white;
}

.search-box:hover > .search-btn .loupe-white{
    display: none;
}

.search-box:hover > .search-btn .loupe-blue{
    display: block;
}
/* menu */
nav{
    display:flex;
    flex-wrap:wrap;
    border-bottom: 5px solid #fff;
    background: #101a3ee1;
    padding: 0px 7%;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
nav h1{
    color: #fff;
    font-family: 'Bungee Inline', cursive;
    font-size: 30px;
}
nav .menu{
    margin-top: 3px;
    margin-left: 300px;
}
nav .menu a{
    font-family: 'Bungee Inline', cursive;
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
}
/* convite pro cardapio */
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ec8327;
    background-size: cover;
    color: #393947;
    padding: 40px;
}
header h1{
    font-family: 'Playfair Display', serif;
    font-size: 50px;
}
.btn{
    padding: 10px 30px;
    font-family: 'Dope';
    font-size: 25px;
    font-weight: 200;
    border-radius: 10px;
    border: none;
    transition: 1s;
    background-color: #393947;
    color:#fff;
    cursor: pointer;
}

.btn:hover{
    transition: 1s;
    background-color: #9c9c9c;
    color:#fff;
}

.button{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
header h4{
    margin-top: -20px;
    font-size: 20px;
    text-align: center;
}
header button{
    padding: 10px 20px;
    background-color: #fff;
    color:#000;
    border:none;
    margin-bottom: 30px;
    outline:none;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    cursor: pointer;
}
.des{
    color: #393947;
    
}
/* destaque e novidade */
.main{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main .content .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom:20px;
}
.main .content .card .left{
   flex: 0 0 30%;
   padding: 20px;
   background-color: #ff9a3e;
   /* background-color: #fac287;    */
   color:#fff;
}
.main .content .card .right img{
    height:300px;
    width: 400px;
    margin-top: 5px;
}
.new{
    font-family: 'Hiro';
    color: #393947;
}
.desc{
    color: #444;
    font-family: 'Open Sans', sans-serif;
}
/* rodapé */
footer{
    margin-top: 40px;
    border-top: 5px solid #6f6f6f;
    background-color: #101a3ee1;
    color: #fff;
    padding: 30px 100px;;
}
footer h1{
    font-family: 'Playfair Display', serif;
    border-bottom: 1px solid white;
    width: 20%;
    padding-bottom: 5px;
}
footer .services{
    margin-top: -10px;
    display:flex;
    flex-wrap:wrap;
}
footer .services .service{
    margin-right: 30px;
}
footer .services .service p{
    max-width: 300px;
}
footer #contact{
    color: rgb(181, 181, 181);
}

@media screen and (max-width:680px){
    nav .menu{
        margin-left: 0px;
        margin-bottom: 20px;
    }
    .main .card {
        margin: 10px;
    }
    .main .content .card .right img{
        height:200px;
        width: 100%;
        margin-top: -0px;
    }
    .main .content .card{
        display: block;
    }
    footer{
        padding: 30px;
    }
}