@import url('https://fonts.googleapis.com/css2?family=Acme&family=Kanit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Kanit:wght@500&family=Lato&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background: linear-gradient(to top, #bc6304 0%, #f79226 100%);
}
/* botao de pesquisa */
.search-box{
    background: #353b48;
    height: 35px;
    border-radius: 35px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

::-webkit-input-placeholder{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #aeaeae;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 12px;
    transition: 0.4s;
    line-height: 40px;
    transition: 0.6s;
    width: 0px;
}

.search-btn{
    color: red;
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #353b48;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.6s;
}

.loupe-blue{
    display: none;
}

.search-box:hover > .search-txt{
    width: 240px;
    padding: 0 6px;

}

.search-box:hover > .search-btn{
    background: white;
}

.search-box:hover > .search-btn .loupe-white{
    display: none;
}

.search-box:hover > .search-btn .loupe-blue{
    display: block;
}
/* menu */
nav{
    display:flex;
    flex-wrap:wrap;
    border-bottom: 5px solid #fff;
    background: #101a3ee3;
    padding: 0px 7%;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
nav h1{
    color: #fff;
    font-family: 'Bungee Inline', cursive;
    font-size: 30px;
}
nav .menu{
    margin-top: 3px;
    margin-left: 300px;
}
nav .menu a{
    font-family: 'Bungee Inline', cursive;
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
}
/* produtos */
.produtos{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: arial;  
}
.produtos>div {
    background: linear-gradient(to bottom left, #d59a5a 0%, #efcba4 100%);
    padding: 10px;
    margin: 10px;
    color: #444;
    flex: 0 0 30%;
    text-align: center;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.342);
    font-family: 'Acme', sans-serif;
}

.produtos>div>img{
    width: 300px;
    height: 200px;
    margin-bottom: 20px;
}

.desc{
    font-size: 12;
}

.first {
    color: green;
}
/* botao de compra dos produtos */
.btn{
      padding: 10px 30px;
      font-family: 'Kanit', sans-serif;
      font-size: 15px;
      font-weight: 200;
      border-radius: 10px;
      border: none;
      transition: 1s;
      background-color: #4c1903;
      color:#fff;
      cursor: pointer;
}

.btn:hover{
      transition: 1s;
      background-color: #8a2c04;
      color:#fff;
}

.button{
      display: flex;
      justify-content: center;
      margin-top: 20px;
}
/* rodapé */
footer{
    margin-top: 40px;
    border-top: 5px solid #6f6f6f;
    background-color: #101a3ee1;
    color: #fff;
    padding: 20px 100px;;
}
footer h1{
    font-family: 'Playfair Display', serif;
    border-bottom: 1px solid white;
    width: 25%;
    padding-bottom: 5px;
}
footer .services{
    margin-top: 10px;
    display:flex;
    flex-wrap:wrap;
}
footer .services .service{
    margin-right: 30px;
}
footer .services .service p{
    max-width: 300px;
}
footer #contact{
    color: rgb(181, 181, 181);
}